.features__list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0 10px;
}

.features__item {
	margin-bottom: 40px;
}

.features__title {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	color: #1a292f;
	margin-bottom: 0;

	&::before {
		content: "";
		display: block;
		width: 95px;
		height: 60px;

		margin-bottom: 20px;
	}
}

.features__item:nth-child(1) .features__title::before {
	background: url('../img/features-one.png');
	width: 83px;
	height: 46px;
	margin-top: 70px;
}

.features__item:nth-child(2) .features__title::before {
	background: url('../img/features-two.png');
	width: 94px;
	height: 46px;
}

.features__item:nth-child(3) .features__title::before {
	background: url('../img/features-three.png');
	width: 91px;
	height: 58px;
}

.features__item:nth-child(4) .features__title::before {
	background: url('../img/features-four.png');
	width: 95px;
	height: 58px;
}

.features__text {
	margin-top: 10px;

	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 28px;
	color: #838383;
}

@media (min-width: 768px) {
	.features__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 7%;
	}

	.features__item {
		width: 37%;
		margin-right: 9%;
	}
	
	.features__item:nth-child(2) {
		margin-top: 190px;
		margin-bottom: 0;
	}
	
	.features__item:nth-child(4) {
		margin-top: 190px;
	}

	.features__item:nth-child(2n) {
		margin-right: 0;
	}
}

@media (min-width: 1300px) {
	.features__list {
    	margin: 0 25px;
	}

	.features__item {
	    width: 280px;
		margin: 0;
		margin-right: 2%;
		margin-top: 60px;
	}

	.features__item:nth-child(2n) {
		margin-right: 4%;
		margin-top: 300px;
	}

	.features__item:nth-child(3) {
		margin-top: 103px;
	}

	.features__item:nth-child(4) {
		margin-right: 0;
	}
}


@media (min-width: 1350px) {
	.features__item {
		margin-right: 4%;
	}

	.features__item:nth-child(2) {
		margin-right: 5%;
	}
}